<html>
<head>
<meta charset="utf-8">
  <title>European transport feeds</title>
  <meta name="keywords" content="public,transport,europe,gtfs,feed,transportation,netex,ifopt">
  <meta name="author" content="Julius Tens">
  <meta name="description" content="List of european public transport GTFS feeds.">
  <meta property="og:title" content="European transport feeds">
  <meta property="og:url" content="https://eu.data.public-transport.earth/">
  <meta property="og:description" content="List of european public transport GTFS feeds.">
  <!-- <link rel="icon" href="icon.png"> -->
  <!-- <meta property="og:image" content="large-image.png" /> -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://css-pkg.github.io/style.css/site.css">
</head>
<body>
<main>
  <h1>European transport feeds</h1>
  <section>
    <table>
      <thead>
        <tr>
          <th>Country</th>
          <th>Provider/Attribution</th>
          <th>License</th>
          <th>Comment</th>
          <th>Original feed url</th>
          <th>Stable feed url</th>
        </tr>
      </thead>
      <tbody>
        {{#feeds}}
        <tr>
          <td>{{countryFlag}} {{countryName}}</td>
          <td><a href="{{infoUrl}}">{{attribution}}</a></td>
          <td>{{{license}}}</td>
          <td>{{{comment}}}</td>
          <td><a href="{{feedUrl}}">original url</a></td>
          <td><a href="https://eu.data.public-transport.earth/gtfs-{{countryIso}}.zip">stable url</a></td>
        </tr>
        {{/feeds}}
      </tbody>
    </table>
  </section>
  <section>
    <h3>Additional information</h3>
    <ul>
      <li><a href="https://github.com/juliuste/european-transport-feeds">This website's code on GitHub</a></li>
      <li><a href="https://developers.google.com/transit/gtfs/reference/">GTFS specification</a></li>
      <li><a href="https://gtfs.mfdz.de/">List of german GTFS feeds</a>, which inspired this website</li>
      <li><a href="https://juliustens.eu/impressum.html">Impressum (Imprint)</a></li>
    </ul>
  </section>
</main>
</body>
</html>
