# European transport feeds

| Country | Provider/Attribution | License | Original feed url | Stable feed url |
|---------|----------------------|---------|-------------------|-----------------|
{{#feeds}}
|{{countryFlag}} {{countryName}}| [{{feed.attribution}}]({{feed.infoUrl}}) | {{feed.license}} | [original url]({{feed.feedUrl}}) | [stable url](https://eu.data.public-transport.earth/gtfs-{{feed.countryIso}}.zip)
{{/feeds}}
