# European transport feeds

| Country | Provider/Attribution | License | Comment | Original feed url | Stable feed url |
|---------|----------------------|---------|---------|-------------------|-----------------|
{{#feeds}}
|{{countryFlag}} {{countryName}}| [{{attribution}}]({{infoUrl}}) | {{{license}}} | {{{comment}}} | [original url]({{feedUrl}}) | [stable url](https://eu.data.public-transport.earth/gtfs-{{countryIso}}.zip)
{{/feeds}}
