# European transport feeds

| Country | Provider/Attribution | License | Comment | Original feed url | Stable feed url |
|---------|----------------------|---------|---------|-------------------|-----------------|
{{#feeds}}
|{{countryFlag}} {{countryName}}| [{{attribution}}]({{infoUrl}}) | {{{license}}} | {{{comment}}} | [original url]({{feedUrl}}) | [stable url](https://eu.data.public-transport.earth/gtfs-{{countryIso}}.zip)
{{/feeds}}

### Additional information

- [This website's code on GitHub](https://github.com/juliuste/european-transport-feeds)
- [GTFS specification](https://developers.google.com/transit/gtfs/reference/)
- [List of german GTFS feeds](https://gtfs.mfdz.de/), which inspired this website
- [Impressum/Imprint](https://bahn.guru/impressum)
