server {
  listen 3000;
  root /app;

  gzip on;
  gzip_comp_level 9;

  etag on;

  location / {
    index index.html;
  }

  {{#gtfsFeeds}}
  rewrite /gtfs/{{countryIso}} {{feedUrl}} redirect;
  {{/gtfsFeeds}}

  {{#netexFeeds}}
  rewrite /netex/{{countryIso}} {{feedUrl}} redirect;
  {{/netexFeeds}}
}
