server {
  listen 3000;

  gzip on;
  gzip_comp_level 9;

  etag on;

  {{#gtfsFeeds}}
  rewrite /gtfs/{{countryIso}} {{feedUrl}} redirect;
  {{/gtfsFeeds}}

  {{#netexFeeds}}
  rewrite /netex/{{countryIso}} {{feedUrl}} redirect;
  {{/netexFeeds}}
}
